@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Noto Sans TC", "Azeret Mono", monospace, sans-serif;
        line-height: 1.5;
    }
}

.swiper-slide {
    @apply h-auto;
}

.swiper-pagination {
    @apply static flex items-center;
}

.swiper-pagination-bullet {
    @apply rounded-full bg-primary opacity-100;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    @apply w-auto;
}

.swiper-pagination-bullet-active {
    @apply h-2 w-4;
}

.swiper-button-disabled {
    @apply opacity-50;
}

@layer utilities {
    .gradient-180deg {
        background-image: linear-gradient(
            180deg,
            rgba(9, 172, 245, 1) 43%,
            rgba(98, 219, 84, 1) 100%
        );
    }

    .gradient-104deg {
        background-image: linear-gradient(
            104deg,
            rgba(9, 172, 245, 1) 43%,
            rgba(98, 219, 84, 1) 100%
        );
    }

    .gradient-107deg {
        background-image: linear-gradient(
            107deg,
            rgba(9, 172, 245, 1) 43%,
            rgba(98, 219, 84, 1) 100%
        );
    }

    .gradient-102deg {
        background-image: linear-gradient(
            102deg,
            rgba(9, 172, 245, 1) 43%,
            rgba(98, 219, 84, 1) 100%
        );
    }

    .gradient-99deg {
        background-image: linear-gradient(
            99deg,
            rgba(9, 172, 245, 1) 43%,
            rgba(98, 219, 84, 1) 100%
        );
    }

    .gradient-97deg {
        background-image: linear-gradient(
            97deg,
            rgba(9, 172, 245, 1) 43%,
            rgba(98, 219, 84, 1) 100%
        );
    }

    .gradient-240deg {
        background-image: linear-gradient(
            240deg,
            rgba(9, 172, 245, 1) 43%,
            rgba(98, 219, 84, 1) 100%
        );
    }
}

.disabled-scrolling {
    @apply overflow-hidden pr-[17px];
}
